@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --hover-bg: rgba(0, 0, 0, 0.4);

    --scrollbar-track-bg: #f0f0f0;
    --scrollbar-thumb-bg: #bdbdbd;
    --scrollbar-thumb-border: #f0f0f0;
    --scrollbar-thumb-hover-bg: #a8a8a8;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --hover-bg: rgba(255, 255, 255, 0.4);

    --scrollbar-track-bg: #333;
    --scrollbar-thumb-bg: #555;
    --scrollbar-thumb-border: #333;
    --scrollbar-thumb-hover-bg: #777;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background  text-foreground;
  }
}

#title-bar {
  position: relative;
  z-index: 9999;
  display: block;
  height: 32px;
  width: calc(100%);
}

#drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-app-region: no-drag;
}

#min-button,
#restore-button,
#close-button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
  img {
    width: 20px;
    height: 20px;
  }
}

#min-button {
  grid-column: 1;
}
#restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}

.window-hover:hover {
  background-color: var(--hover-bg);
}

.window-hover-close:hover {
  background: #e81123 !important;
}
.window-hover-close:active {
  background: #f1707a !important;
}
.window-hover-close:active .icon {
  filter: invert(1);
}

::-webkit-scrollbar {
  display: none;
}

.show-scrollbar::-webkit-scrollbar {
  display: block;
  width: 12px;
}

.show-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
  border-radius: 6px;
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 6px;
  border: 3px solid var(--scrollbar-thumb-border);
}

.show-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-bg);
}
